body{
    background-color: rgb(165, 188, 207);
    font-family: Arial, Helvetica, sans-serif;
}

header nav h1{
    background: linear-gradient(to right, #9ba3d6, #4801a4);

}


.imagen{
    height: 400px;
    width: 600px;
}


#testimonios{
    background-color: #4801a4;
}


#contacto form{
    width: 400px;
    margin: auto;
}

label{
    display: block;
    margin-top: 10px;
}

input, textarea, select{
    display: block;
    width: 100%;
    padding: 8px;
}